.Music-class {
  background-color: transparent;
  border-radius: 10px;
  width: 220px;
  margin-top: 14px;
  margin-left: 14px;
}

.Music-class:hover {
  background-color: #333333;
}

.Music-class:hover h3 {
  color: #ffffff;
}

.Music-class:hover h5 {
  color: #b3b3b3;
}
.Music-class img {
  height: 220px;
  width: 220px;
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 30px;
  cursor: pointer;
}

.Music-class h3 {
  margin: 4px;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.Music-class h5 {
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  font-weight: lighter;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
