.Foot-class {
  display: flex;
  margin-top: 80px;
  /* justify-content: space-evenly; */
  gap: 120px;
  margin-left: 30px;
}

.Company li {
  list-style: none;
  cursor: pointer;
  margin: 6px;
}

.Communities li {
  list-style: none;
  cursor: pointer;
  margin: 6px;
}

.Useful li {
  list-style: none;
  cursor: pointer;
  margin: 6px;
}

.Spot-Plan li {
  list-style: none;
  cursor: pointer;
  margin: 6px;
}
