.music-row {
  display: flex;
  flex-direction: row; /* single row */
  overflow-x: auto; /* horizontal scroll */
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: none;
}

/* prevent cards from shrinking */
.music-row > * {
  flex-shrink: 0;
}
