* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  background-color: black;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;

  overflow: hidden;
}

.main-content {
  flex: 1;
  overflow-y: auto;

  padding-top: 22px;
  padding-left: 0%;
}
